# VSCode
.vscode/

# Build files 
export/server/*
!export/server/.gitkeep
export/web/*
!export/web/.gitkeep
export/windows/*
!export/windows/.gitkeep
export/macos/*
!export/macos/.gitkeep
export/linux/*
!export/linux/.gitkeep
export/ios/*
!export/ios/.gitkeep
